.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container i {
  font-size: 4rem;
  animation: loader 0.5s infinite linear;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  
  to {
    transform: rotate(360deg);
  }
}
