.button {
  align-items: center;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
}

.button:hover {
  filter: brightness(80%);
}
